{% extends "registration/base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block container %}
<div class="well">
	<form method="post" action="." class="form-horizontal">{% csrf_token %} 
		<legend>{% trans "Reset password" %}</legend>
		{{ form|as_bootstrap }}
	    <div class="controls">
    	    <button type="submit" class="btn btn-primary">{% trans "Reset" %}</button>
	    </div>
	</form>
</div>
<p class="align-right muted">{% trans "Remember password" %}? <a href="{% url auth_login %}">{% trans "Log in" %}</a></p>
{% endblock %}
