{% extends "base.html" %}
{% load bootstrap_tags %}
{% load i18n %}

{% block content %}
<div class="span6 offset3" style="margin-top: 100px;">
	<div class="well">
	{% if validlink %}
		<form method="post" action="." class="form-horizontal">
			{% csrf_token %}
			<legend>{% trans "Reset password" %}</legend>
			{{ form|as_bootstrap }}
		    <div class="controls">
	    	    <button type="submit" class="btn btn-primary">{% trans "Reset password" %}</button>
		    </div>
		</form>
	{% else %}
		<p>{% trans "Password reset failed" %}</p>
	{% endif %}
	</div>
</div>
{% endblock %}
