{% extends "supercomputer/base.html" %}
{% load bootstrap_tags %}
{% load i18n %} 

{% block container %}
<div class="span12">
	<div class="page-header">
		<div class="row">
			<div class="span8">
				<h4>
					<a href="{% url all_centers %}">{% trans "My centers" %}</a>
					<span>&nbsp;&#47;&nbsp;</span>
					<a href="{% url show_center system.center.id %}">{{ system.center.acronym }}</a>
					<span>&nbsp;&#47;&nbsp;</span>
					<span>{{ system.name }}</span>
				</h4>
			</div>
			<div class="span4">
				<a href="#" class="btn btn-danger pull-right margin-left-5">
					<i class="icon-trash icon-white"></i>
					<span>{% trans "Delete" %}</span>
				</a>
			<a href="{% url edit_system system.id %}" class="btn btn-success pull-right">
					<i class="icon-pencil icon-white"></i>
					<span>{% trans "Edit" %}</span>
				</a>
			</div>
		</div>
	</div>
	{% include "supercomputer/table_systems.html" %}
	<div class="page-header">
		<div class="row">
			<div class="span10">
				<h4>
					<span>Components</span>
				</h4>
			</div>
			<div class="span2">
				<a href="{% url add_component system.id %}" class="btn btn-primary pull-right">
					<i class="icon-plus icon-white"></i>
					<span>{% trans "Add" %}</span>
				</a>
			</div>
		</div>
	</div>
	{% include "supercomputer/table_components.html" %}
	<div class="page-header">
		<div class="row">
			<div class="span10">
				<h4>
					<span>{% trans "Linpacks" %}</span>
				</h4>
			</div>
			<div class="span2">
				<a href="{% url add_linpack system.id %}" class="btn btn-primary pull-right">
					<i class="icon-plus icon-white"></i>
					<span>{% trans "Add" %}</span>
				</a>
			</div>
		</div>
	</div>
	{% include "supercomputer/table_linpacks.html" %}
</div>
{% endblock %}
