{% load i18n %} 

<table class="table table-bordered">
	<thead>
		<tr>
			<th>{% trans "Name" %}</th>
			<th>{% trans "Nodes" %}</th>
			<th>{% trans "Processor" %}</th>
			<th>{% trans "Accelerator" %}</th>
			<th>{% trans "Operating system" %}</th>
		</tr>
	</thead>
	<tbody>
		{% if components %}
			{% for component in components %}
			<tr>
				<td><a href="{% url show_component component.id %}">{{ component.name }}</a></td>
				<td><span class="badge badge-info">{{ component.nodes }}</span></td>
				<td>{{ component.processor_name }} {{ component.processor_model }}</td>
				<td>{{ component.accelerator_name }} {{ component.accelerator_model }}</td>
				<td>{{ component.operating_system }}</td>
			</tr>
			{% endfor %}
		{% else %}
			<tr>
				<td>{{ component.name }}</td>
				<td><span class="badge badge-info">{{ component.nodes }}</span></td>
				<td>{{ component.processor_name }} {{ component.processor_model }}</td>
				<td>{{ component.accelerator_name }} {{ component.accelerator_model }}</td>
				<td>{{ component.operating_system }}</td>
			</tr>
		{% endif %}
	</tbody>
</table>
