<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" style="color:#EEE" class="brand">
                <img src="http://3bd45b82b0c657f339e9-634522a66d599bb7b55f464d59446966.r46.cf1.rackcdn.com/logo-nav.png">
                <span> Lartop</span>
                <span style="color: #FDCA01">50</span>
            </a>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					{% include "account.html" %}
		            {% include "languages.html" %}
				</ul>
			</div>
		</div>
    </div>
</div>
